body, html{
    height: 100%;
  }
  
  .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animation p{
    color: #D64933; 
    font-family: 'Lato', cursive;
    font-size: 10vh; 
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: title 7s steps(70, end); 
    margin-bottom: 40px;
  
  }
  
  @keyframes title{ 
    from { width: 0; opacity: 0.0;}
    to { opacity: 1.0; } 
  } 